# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Conda
.env
.conda/

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Generated model files
models/model_*
models/*.pt
models/*.pth

# Generated outputs
alarm.txt
groundtruth_nodeId.txt
training_log.txt
groundtruth_uuid.txt
id_to_uuid.txt
result_*

# Temporary training outputs
*.tmp

# GraphChi generated artifacts
graphchi-cpp-master/graph_data/darpatc/*_train.txt
graphchi-cpp-master/graph_data/darpatc/*_test.txt

# Extracted DARPA JSON files
graphchi-cpp-master/graph_data/darpatc/*.json
graphchi-cpp-master/graph_data/darpatc/*.json.*

# Jupyter
.ipynb_checkpoints/

# Datasets / preprocessing
# Ignore everything inside dataset folders
graphchi-cpp-master/graph_data/darpatc/*
graphchi-cpp-master/graph_data/streamspot/*
graphchi-cpp-master/graph_data/unicornsc/*
datasets/

# But keep the directory itself
!graphchi-cpp-master/graph_data/darpatc/.gitkeep
!graphchi-cpp-master/graph_data/streamspot/.gitkeep
!graphchi-cpp-master/graph_data/unicornsc/.gitkeep

# Example Models
example_models/

# Generated artifacts
models/
result_*

# Archives
*.tar.gz